@font-face {
  font-family: 'PPNeueMachina-Regular';
  src: local('PPNeueMachina-Regular'), url('./fonts/PPNeueMachina-Regular.otf') format('opentype');
}

* {
  font-family: 'PPNeueMachina-Regular';
  color: #fefefe;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
}

.Header {
  background-image: linear-gradient(to bottom, rgb(255,255,255,0.05), transparent);
  width: 100%;
  padding: 16px 36px;
  font-size: 14px;
}
.Header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.Header__logo--accent {
  font-size: 24px;
  font-weight: bold;
}
.Header__links {
  display: flex;
  list-style: none;
  gap: 16px;
}
.Header__links__link, .Header__links__link * {
  text-decoration: none;
  font-weight: bold;
  text-transform: lowercase;
  transition: all 0.3s;
}
.Header__links__link:hover {
  transform: scale(1.1);
}
.CircleText {
  position: relative;
  width: 1px;
  transform: translateX(47.5%);
  width: 400px;
  height: 400px;
}
.CircleText__container {
  position: relative;
  width: 400px;
  height: 400px;
}
.CircleText__outer {
  animation: spinner linear infinite 60s;
  width: 400px;
  height: 400px;
}
.CircleText__img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}
.CircleText__span {
  font-size: 14px;
  height: 200px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
  padding: 72px 36px;
}
.Hero__text--accent {
  font-size: 24px;
  font-weight: bold;
}
.Hero__text {
  position: relative;
  color: #bebebe;
}
.Hero__arrow {
  position: absolute;
  bottom: -22px;
  right: -10px;
  font-size: 32px;
}
.Hero__text--italic {
  font-style: italic;
  color: #fefefe;
}